<!DOCTYPE html>
<html>
  <head>
    <title>KWKtravelz</title>
  </head>
  <body>
  <h1>Los Angeles</h1>
  <br>
  <h2>Food</h2>
  <ul>
    <li><%= "#{LA.food[0]}"%> 
    <a href="http://www.dantanasrestaurant.com/">Learn More</a>
    </li>
    <li><%= "#{LA.food[1]}"%></li>
    <a href="http://www.guerrillatacos.com/">Learn More</a>
    </li>
    <li><%= "#{LA.food[2]}"%> 
    <a href="https://www.philippes.com/us.html">Learn More</a>
    </li>
    <li><%= "#{LA.food[3]}"%> 
    <a href="https://newportseafood.com/">Learn More</a>
    </li>
    <li><%= "#{LA.food[4]}"%> 
    <a href="http://www.jonandvinnys.com/menu/">Learn More</a>
    </li>
    <li><%= "#{LA.food[5]}"%> 
    <a href="https://m.facebook.com/Apple-Pan-192506054129735/">Learn More</a>
    </li>
    
  </ul>
  <br>
  <h2>Attractions</h2>
  <ul>
    <li></li>
  </ul>
  </body>
</html>